<h1>Edit article</h1>

<%= form_with model: @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content, size: "60x10" %>
  <br/>
  <%= f.submit %>
<% end %>

<div>
  <div><%= link_to "Back", articles_path %></div>
</div>
